:root {
 --primary-color-hue: 252;
 --dark-color-lightness: 17%;
 --light-color-lightness: 95%;
 --white-color-lightness: 100%;

 --color-white: hsl(252, 30%, var(--white-color-lightness));
 --color-light: hsl(252, 30%, var(--light-color-lightness));
 --color-gray: hsl(252, 15%, 65%);
 --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
 --color-secondary: hsl(252, 100%, 90%);
 --color-success: hsl(120, 95%, 65%);
 --color-danger: hsl(0, 95%, 65%);
 --color-dark: hsl(252, 30%, var(--dark-color-lightness));
 --color-black: hsl(252, 30%, 10%);

 --border-radius: 2rem;
 --card-border-radius: 1rem;
 --btn-padding: 0.6rem 2rem;
 --search-padding: 0.6rem 1rem;
 --card-padding: 1rem;

 --sticky-top-left: 5.4rem;
 --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}


body {
 font-family: "Poppins",sans-serif;
 color: var(--color-dark);
 text-decoration: none;
 background: var(--color-light);
 overflow-x: hidden;
 font-size: 69%;
}

/* general styles */
.container {
  width: 90%;
  margin: 0 auto;
}

.profile-picture {
  width: 3.5rem;
  height: 3.5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
  height: 2.5rem;
  font-size: 1rem;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

/*      NAVBAR     */

nav {
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
  font-size: 1.2rem;
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray)
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

   /* MAIN */

main {
  position: relative;
  margin-top: 5.4rem;
}

main .container {
  display: grid;
  grid-template-columns: 13vw auto 20vw;
  column-gap:1.4rem;
  position: relative;
}

 /* LEFT */

main .container .left {
  height: calc(100vh - 5.4rem);
  position: sticky;
  top: var(--sticky-top-left);
  overflow:scroll;
}

.left::-webkit-scrollbar {
  display: none;
}

main .container .left .profile {
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.handle {
  font-size: 0.9rem;
}

    /* SIDEBAR */

.left .sidebar {
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 3rem;
  cursor: pointer;
  position: relative;
  transition: all 300ms ease;
}

.left .sidebar .menu-item:hover {
 background: var(--color-primary);
 color: #fff;
} 

.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}

.left .sidebar i .notification-count {
  background: var(--color-danger);
  color: #fff;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.left .search-bar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.4rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);

}

.left .sidebar .menu-item:first-child.active {
  /* border-top-left-radius: var(--border-radius); */
  overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: var(--border-radius);
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  height: 3rem;
}

  /* NOTIFICATION POPUP */

.left .notifications-popup{
 position: absolute;
 top: 0;
 left: 110%;
 width: 30rem;
 background: var(--color-white);
 border-radius: var(--card-border-radius);
 padding: var(--card-padding);
 box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
 z-index: 8;
 display: none;
}

.left .notifications-popup::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  background: var(--color-white);
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}

.left .notifications-popup > div {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left .notifications-popup small {
  display: block;
}

        /* MIDDLE */

.middle .stories {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  gap: 0.5rem;
  width: 100%;
  /* background: rebeccapurple; */
}

.middle .stories .story {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.stories .story::before {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
  background: #000;
  background: linear-gradient(transparent, rgba(0 , 0, 1, 0.75));
  position: absolute;
  bottom: 0;
}

.stories .story .name {
 z-index: 2;
}

.middle .stories .story:nth-child(1) {
  background: url(/images/baba-bg.jpeg);
}
.middle .stories .story:nth-child(2) {
  background: url(/images/wallpaper3.jpg);
}
.middle .stories .story:nth-child(3) {
  background: url(/images/wallpaper.jpg);
}
.middle .stories .story:nth-child(4) {
  background: url(/images/wallpaper11.jpg);
}
.middle .stories .story:nth-child(5) {
  background: url(/images/wallpaper10.jpg);
}


.story .profile-picture {
  width: 3rem;
  height: 3rem;
  align-self: start;
  border: 3px solid var(--color-primary);
}

 /* create a post */

 .create-post {
  background: var(--color-white);
  padding: var(--card-padding);
  margin-top: 1rem;
  border-radius: var(--card-border-radius);
  width: 96%;
  margin-left: 1rem;
 }

.create-post-contents {
  display: grid;
  grid-template-columns: 10% 90%;
}

.middle .upper {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background: var(--color-light);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.create-post-contents > div {
  margin-top: 1rem;
}

.middle .upper input[type="text"] {
  justify-self: start;
  width: 100%;
  padding-left: 1rem;
  background: transparent;
  color: #fff;
  margin-right: 1rem;
  font-size: 1rem;
}

.create-post-btn {
  margin-right: -0.6rem;
  font-size: 1rem;
  height: 2.8rem;
}

.lower {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.lower > div {
  font-size: 1.1rem;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
}

.lower > div > a {
  color: var(--col);
}

.lower > div:hover {
  background: var(--color-gray);
}

/* feeds */

.middle .feeds .feed {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem;
  font-size: 0.85rem;
  line-height: 1.5;
}

.feed .head {
  display: flex;
  justify-content: space-between;
}

.feed .user {
  display: flex;
  gap: 1rem;
}

.feed .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
margin-left: 0.5rem;
}

         /* Right */
  
main .container .right {
  position: sticky;
  top: var(--sticky-top-right);
  height: calc(100vh + 18rem);
  /* overflow: scroll; */
}  

.right::-webkit-scrollbar {
 display: none;
}

.right .messages {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .messages .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

#message-search:focus {
  background: transparent;
}

.messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.messages .category h6  {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding: 0.5rem ;
  font-size: 0.85rem;
}

.messages .category .active {
  border-color: var(--color-dark);
}

.message-request {
  color: var(--color-primary);
}

.messages .message {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: start;
}

.message-body {
  font-size: 1rem;
}

.right .message .profile-picture {
  position: relative;
  overflow: visible;
}

.right .profile-picture img {
  border-radius: 50%;
}

.message:last-child {
  margin-bottom: 0;
}

.message p {
  font-size: 0.8rem;
}

.message .profile-picture .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

 /* friend requset */

.right .friend-requests {
 margin-top: 1rem;
}

.friend-requests h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.right .request {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}

.request .info {
 display: flex;
 gap: 1rem;
 margin-bottom: 1rem;
 font-size: 1rem;
} 

.right .request .action {
  display: flex;
  gap: 1rem;
}

/* THEME CUSTOMIZATION */

.customize-theme {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  display: none;
}

.customize-theme .card {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-primary);
}

.card  h2, 
.card  p {
  font-size: 1rem;
}

 /* font size */

 .customize-theme .font-size {
  margin-top: 5rem;
 }

 .customize-theme .font-size > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
 }

.customize-theme .choose-size {
  background: var(--color-secondary);
  height: 0.3rem;
  width: 100%;
  margin: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-theme .choose-size span {
  width: 1rem;
  height: 1rem;
  background: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
}

.customize-theme .choose-size span.active {
  background: var(--color-primary);
}

.customize-theme .choose-color {
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customize-theme .choose-color span {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}

.choose-color span:nth-child(1) {
  background: hsl(252, 75%, 60%);
}
.choose-color span:nth-child(2) {
  background: hsl(281, 75%, 60%);
}
.choose-color span:nth-child(3) {
  background: hsl(352, 75%, 60%);
}
.choose-color span:nth-child(4) {
  background: hsl(152, 75%, 60%);
}
.choose-color span:nth-child(5) {
  background: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
  border: 5px solid #fff;
}

/* background */
.customize-theme .background {
  margin-top: 2rem;
}

.customize-theme .choose-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.choose-bg > div {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  gap: 1rem;
}

.color-option {
  font-size: 0.9rem;
}

.font-sizes {
  margin-bottom: 2rem;
}

.choose-bg > div.active {
  border: 2px solid var(--color-primary);
}

.bg-1 {
  background: #fff;
  color: #000;
}

.bg-2 {
  background: hsl(252, 30%, 17%);
  color: #fff;
}

.bg-3 {
  background: hsl(252, 30%, 10%);
  color: #fff;
}

.choose-bg > div span {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
}

/* =======================
MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS
===================
*/

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }

  .left {
    width: 5rem;
    z-index: 5;
  }

  main .container .left .profile {
    display: none;
  }

  .sidebar h3 {
    display: none;
  }

  .left .btn {
    display: none;
  }

  .customize-theme .card {
    width: 80vw;
  }
}

/* =======================
MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS
===================
*/


@media screen and (max-width: 992px) {
 nav .search-bar {
  display: none;
 }

 main .container {
  grid-template-columns: 0 auto 5rem;
  gap: 0;
 }

 main .container .left {
  grid-column: 3/4;
  position: fixed;
  bottom: 0;
  right: 0;
 }

  /* notifications-popup */
  .left .notifications-popup {
    position: absolute;
    left: -20rem;
    width: 20rem;
  }

  .left .notifications-popup::before {
    position: absolute;
    top: 1.3rem;
    left: calc(20rem - 0.6rem);
    display: block;
  }

  /* main .container .left .sidebar > div h3 {
    display: none;
  }  */

  main .container .middle {
    grid-column: 1/3;
  }

  main .container .right {
    display: none;
  }

  .customize-theme .card {
    width: 90vw;
    height: fit-content;
  }

  .create-post-contents > div {
    margin-left: -0.5rem;
  }

  .create-post-contents {
  gap: 1.5rem;
  }
}

